// Modal styles

@use "../colours.scss" as *;
@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.modal {
  width: 95%;
  background-color: $EXWhite;
  position: fixed;
  z-index: 1;
  // height: 100%;
  margin-left: -1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.875rem;
  border: 1px solid $EXGrey;
  box-shadow: 3px 3px 5px $EXPaleGrey;
  right: 120%;
  // top: 10rem;
  transition-duration: 1s;
  &.active {
    right: 2.5%;
    transition-duration: 1s;
  }
  &__toggle {
    cursor: pointer;
    font-size: 0.875rem;
    color: $EXBlack;
    text-decoration: none;
    margin-left: 3rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
