/** Fonts */
@font-face {
  font-family: "BeVietmanPro";
  src: url("../../assets/fonts/BeVietnamPro-Regular.woff2") format("woff2"),
    url("../../assets/fonts/BeVietnamPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeVietmanPro";
  src: url("../../assets/fonts/BeVietnamPro-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/BeVietnamPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BeVietmanPro";
  src: url("../../assets/fonts/BeVietnamPro-Bold.woff2") format("woff2"),
    url("../../assets/fonts/BeVietnamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aquire";
  src: url("../../assets/fonts/AquireRegular.woff2") format("woff2"),
    url("../../assets/fonts/AquireRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$font-family: "BeVietmanPro", sans-serif;
$logo-family: "Aquire", sans-serif;

body {
  font-family: $font-family;
}
