// Site styles

@use "../partials/colours.scss" as *;
@use "../partials/variables.scss" as *;
@use "../partials/mixins.scss" as *;

.site-main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 7.5rem;
  padding-bottom: 1rem;
  @include screen-greater-than(tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &__link {
    color: $EXBlack;
    text-transform: uppercase;
    font-size: 0.675rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: inline-block;

    &:hover {
      // color: $EABlue;
    }
  }
}
