/** Buttons styles */

@use "../partials/colours.scss" as *;
@use "../partials/variables.scss" as *;
@use "../partials/mixins.scss" as *;

.btn {
  cursor: pointer;
  font: inherit;
  font-size: 0.8125rem;
  text-align: center;
  border-radius: $btnRadius;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 2px 2px 3px $EXBlack;
  &:hover {
    box-shadow: 0.5px 0.5px 1px $EXBlack;
  }
  &__nav {
    background: $EXBlack url("../../assets/backgrounds/concrete_wall.png");
    color: $EXWhite;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    @include screen-greater-than(tablet) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__cancel {
    box-shadow: none;
    text-align: left;
    background-color: transparent;
    border: none;
    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }
  &__send {
    margin-top: 3rem;
  }
  &__search--tiny {
    padding: 0.75rem;
    background: url("../../assets/icons/search.svg") no-repeat;
    display: inline;
    height: 2rem;
  }
}
