// Styling for Display List

@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.display-list {
  &--wrapper {
    border: 1px solid $EXGrey;
    padding: 1.25rem 1.25rem 1.25rem 0.75rem;
    overflow: scroll;
    border-radius: $borderRadius;
  }
  &__title {
    font-size: 0.875rem;
    color: $EXGrey;
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  &__item {
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0;
    }
    &.selected {
      background-color: $EXYellow;
    }
  }
}
