// Styles for SiteHeader

@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;

.site-header {
  padding: 1rem;

  &::before {
    content: "";
    background: url("../../assets/backgrounds/concrete_wall.png");
    z-index: -1;
    position: absolute;
    transform: rotate(15deg);
    border-radius: $formRadius;
    width: 120vw;
    height: 30vh;
    left: -20vw;
    top: -13vh;
    box-shadow: 3px 5px 5px $EXBlack;
  }
}
.site-logo {
  display: inline-block;
  width: 100%;
  text-align: center;

  &__text {
    font-size: 3rem;
    background: -webkit-linear-gradient($EXRed, $EXBlack);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $logo-family;

    @include screen-greater-than(tablet) {
      font-size: 5rem;
    }
  }
}
